{% extends "base.html" %}

{% block content %}
    <h2>Welcome</h2>
    <p>Logged in as {{ email }}</p>
    <form method="POST" action="{{ url_for('upload_file') }}" enctype="multipart/form-data">
        <label for="file">Select File:</label>
        <input type="file" id="file" name="file" required>
        <button type="submit">Upload</button>
    </form>
{% endblock %}
